.popup
    header.popup__header
        h3.popup__title-name Алексей Иванов
        span.popup__icon.popup__icon_male
        button.popup-close
    .popup__popup-main.popup-main
        .popup-main__block
            .popup-main__criterion Пол
            .popup-main__info.info_gender Мужской
        .popup-main__block
            .popup-main__criterion Кол-во комнат
            .popup-main__info.info_rooms 3
        .popup-main__block
            .popup-main__criterion Сколько человек проживает
            .popup-main__info.info_people 3
        .popup-main__block
            .popup-main__criterion Этаж
            .popup-main__info.info_floor 5
        .popup-main__block
            .popup-main__criterion Дополнительно
            .popup-main__info.info_additional
        