input(type="checkbox" id="switch" name="switch" form="form_switch")
.house.house_light
    .house__floor-wrap
        .house__floor
            .floor__window
            .floor__window
            .floor__window
        .house__floor
            .floor__window
            .floor__window
            .floor__window
        .house__floor
            .floor__window
            .floor__window
            .floor__window
        .house__floor
            .floor__window
            .floor__window
            .floor__window
        .house__floor
            .floor__window
            .floor__window
            .floor__window
        .house__bottom
    .house__form-wrap
        form(action="#" id="form_switch").house__form
            label(for="switch").house__form__switch