@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue/HelveticaNeue.eot");
    src: local("../fonts/HelveticaNeue/HelveticaNeue"), local("../fonts/HelveticaNeue/HelveticaNeue"), url("../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto.eot");
    src: local("../fonts/Roboto/Roboto"), local("../fonts/Roboto/Roboto"), url("../fonts/Roboto/Roboto.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto.woff2") format("woff2"), url("../fonts/Roboto/Roboto.woff") format("woff"), url("../fonts/Roboto/Roboto.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}