// Colors
$white: #ffffff;
$black: #000000;
$darkBrown: #4D2D19;
$darkBrownTwo: #613007;

$darkBlue: #4289FB;
$darkBlueTwo: #47A6F7;

// variables for windows
$windowLight:#B4DCED;
$windowDark: #F8BCCA;
$borderLightWindow: #613007;
$borderDarkWindow: #3E3FC4;

// form
$border-input: #ccc;
$border-focus-input: #47A4F7;

// Sizes
$base-font-size: 16px;


// Fonts
$Helvetica: 'HelveticaNeue', sans-serif;
$Roboto: 'Roboto', sans-serif;